html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, 
body,
.wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .main {
    flex: 1;
}
.header,
.footer {
    flex-shrink: 0;
}

body {
    color: #333333;
    font: 16px 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    background-color: #FB9475;
    outline: 0;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500; 
    padding: 17px 30px;
    border-radius: 48px;
    transition: 0.15s background-color;
}

.btn:hover {
    background-color: #f8825e;
}

.btn:active {
    background-color: #db6744;
}

.container {  
    max-width: 1110px;
    margin: auto;
}

.header {
    background-image: url(./img/back.jpg); 
    padding-top: 30px;
    margin-bottom: 100px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vert {
    flex-direction: column;      
}

.logo {
    color: #333333;
    font-size: 24px;
    font-weight: bold; 
    display: inline-block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigation li:not(:last-child) {
    margin-right: 28px;
}

.navigation a {
    color: #333333;
}

.navigation a:hover {
    color: #00BF78
}

.social {
   margin-left: 20px;
}

.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.social li:not(:last-child) {
    margin-bottom: 16px; 
}

.social img {
    width: 32px;
    height: 32px;
}

.hero, .about, .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__img {
    height: 510px;
    width: 524px;
    position: relative; 
    overflow: hidden;
    z-index: 0;
}

.hero__circle {
    position: absolute;
    right: 0px;
    bottom: -110px;
    background-color: #FB9475;
    width: 472px;
    height: 472px;
    border-radius: 50%;
    z-index: -1;
}

.hero__content {
    width: 50%;
} 

.hero__title {
    font-size: 48px; 
    font-weight: 600; 
    margin: 0 0 16px;  
}

.hero__subtitle {
   font-size: 20px;
   margin: 0 0 60px; 
}

.about {
    margin-bottom: 100px;
}

.about__content {
    width: 50%;
} 

.about__title {
    font-size: 48px; 
    font-weight: 600; 
    margin: 0 0 16px;  
}

.about__subtitle {
   font-size: 20px;
   margin: 0 0 16px; 
}

.contacts {
    text-align: right;
}

.contacts__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0; 
 }
 
 .contacts__subtitle {
    font-size: 11px;
    margin: 0; 
 }

 .video-box {
    width: 445px;
    height: 295px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
    
.video-box:hover .video-box__action{
    transform: scale(1.1);
}    

.video-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 20%;
}

.video-box__action {
    color: white;
    position: relative;
    margin-top: 62px;
    transition: 0.4s;
}

.video-box__action:before {
    content: '';
    position: absolute;
    left: 62px;
    top: -62px;
    height: 62px;
    width: 62px;
    background-image: url(./img/play.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.foot {
    font-size: 12px;
    padding: 20px 0;
}   

.blue-link {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
}

 }