html {
    box-sizing: border-box;
}

body {
    height: 3000px;
}


*, *:before, *:after {
    box-sizing: inherit;
}

.box {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid black;  
}

.text {
    display: block;
}

/* .text + .list {
    padding-top: 200px;
}

.list > li {
    border: 1px solid;
} */


.list li:first-child {
    padding-left: 30px;
}

.list li:nth-child(2n) {
    padding-left: 40px;
}

.list li:last-child {
    padding-left: 10px;
}

.list li:not(:last-child) {
    margin-bottom: 10px;
}

.btn {
    border: none;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s;
}

.btn:hover {
    background-color: cyan;
    transform: scale(1.1);
}

.btn:before,
.btn:after {
    display: inline-block;
}    

.btn:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    margin-right: 5px;
    vertical-align: middle;
}

.btn:after {
    content: '*';
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section div {
    border: 1px solid #000;
    padding: 20px;
}

.section div:first-child {
    height: 40px;
    align-self: flex-start;
}

.wrapper {
    width: 300px;
    height: 300px;
    border: 1px solid;
    /* position: relative; */
    /* transform: translateX(100px); */
}

.btn {
    position: sticky;
    top: 0px;
    margin-top: 30px;
}

.wrapper2 {
    position: relative;
}

.circle,
.square {
    position: absolute;
    top: 0;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
    z-index: 1;
}

.square {
    width: 100px;
    height: 100px;
    background-color: green;
}
